<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>


    <div class="container2">


        <h3>Create an account</h3>
        <p>Enter your email to sing up for this app</p>
        <input type="text" placeholder="email@domain.com"></input>
        <button class="botonSubmit" type="submit">sing up with email</button>

        <div class="linea-texto">
            <p>or continue with</p>
        </div>

        <button class="botonGoogle" type="submit">Google</button>
        <img src="/assets/icons/Google.png" alt="googleIcon" class="imagen">



        <div>
            <footer>   
                <p>By cickling continue, you agree to our <b>Terms of Service</b></p>
            <p> and <b>Privacy Policy</b></p>
            </footer>
             
            
        </div>
      


    </div>
    
 


</body>
</html>