<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Contactos</title>
</head>
<body>


    <div class= "container3">
        <div class="container31">
            <h5>Contactos</h5><br>
    <ul>
        <li>Helena<img src="/assets/images/helena.png"> <br> email@figmasfakedomain.net</li>
        <li>Oscar<img src="/assets/images/oscar.png"> <br>email@figmasfakedomain.net</li>
        <li>Daniel<img src="/assets/images/daniel.png"> <br>email@figmasfakedomain.net</li>
        <li>Daniel Jay Park<img src="/assets/images/jay.png" Jay Park<br>email@figmasfakedomain.net</li>
        <li>Mark Rojas<img src="/assets/images/mark.png"><br>email@figmasfakedomain.net</li>
    </ul>


        </div>
        </div>
    
</body>
</html>